/**--Página para portal de clínica de litigio penal del ITAM
    Clase ADSI Primavera 2023
    Autorxs:
     marielsgtzz@gmail.com || chocs.whatever@gmail.com || mzapatacovarrubias@gmail.com || angelalv0810@gmail.com
*/

.div {
  margin-bottom: 10px !important;
}
.extra {
  margin: 1px !important;
}
.divBotonesPrincipal {
  margin: 10px !important;
}
.divCerrarSesion {
  margin-top: 80px !important;
}
.divLista {
  margin: auto !important;
  width: 50% !important;
  align-items: center !important;
  display: flex !important;
}
body {
  font-family: sans-serif !important;
  text-align: center !important;
  padding-top: 50px !important;
  margin: auto !important;
  align-items: center !important;
  background-color: #f5f5f5 !important ;
}
.div_header {
  margin-bottom: 80px !important;
}
img {
  width: 150px !important;
  height: 150px !important;
}
.inline {
  display: inline-block !important;
  margin-right: 5px !important;
}
button {
  background-color: #006d5b !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  border-radius: 4px !important;
  height: 50px !important;
  width: 150px !important;
}
br {
  line-height: 200% !important;
}
.cerrar_sesion_button {
  background-color: #006d5b !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 14px !important;
  border-radius: 4px !important;
  height: 35px !important;
  width: 130px !important;
}
.button {
  background-color: #006d5b !important;
  border: none !important;
  color: white !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  border-radius: 4px !important;
  height: 50px !important;
  width: 150px !important;
}
.form-signin input[type="text"] {
  margin-bottom: -1px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form-signin input[type="password"] {
  margin-bottom: 10px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.form-signin .form-floating:focus-within {
  z-index: 2 !important;
}
.form-control {
  width: 400px !important;
  align-items: center !important;
  display: inline-block !important;
}
.form-floating {
  display: inline-block !important;
}
h1 {
  font-size: 40px !important;
  font-weight: 300 !important;
  color: darkslategray !important;
}
h2 {
  font-size: 35px !important;
  font-weight: 300 !important;
  color: black !important;
}
ul {
  background: #006d5b !important;
  padding: 15px !important;
  width: 500px !important;
  border-radius: 4px !important;
  margin: auto !important;
}
ul li {
  background: #e4f1ec !important;
  color: black !important;
  margin: 5px !important;
  text-align: left !important;
  padding: 5px !important;
}
.textBoxBuscar {
  width: 400px !important;
  height: 50px !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  font-size: 15px !important;
}
.selectsBuscar {
  width: 150px !important;
  height: 30px !important;
  padding: 5px 5px !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  font-size: 14px !important;
  margin-right: 10px !important;
}
.grid-item {
  background: white !important;
  padding: 8px !important;
  margin: auto !important;
  margin-bottom: 5px !important;
  font-size: 18px !important;
  text-align: center !important;
  width: 500px !important;
  height: 20px !important;
  border-radius: 4px !important;
}
.grid-container {
  margin: auto !important;
  width: 500px !important;
}
.formCrearCaso {
  text-align: left !important;
  margin: auto !important;
  width: 450px !important;
  display: grid !important;
  grid-template-columns: 1fr 1.8fr !important;
  grid-template-rows: repeat(6, 1fr) !important;
  grid-column-gap: 5px !important;
  grid-row-gap: 8px !important;
  margin-bottom: 20px !important;
  align-items: center !important;
}
.selectsCrear {
  width: 100% !important;
  height: 30px !important;
  padding: 5px 5px !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  font-size: 14px !important;
  margin-right: 10px !important;
}
input {
  margin: auto !important;
  width: 100% !important;
}
.divAgregarDoc {
  text-align: center !important;
  margin: auto !important;
  width: 300px !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  grid-template-rows: repeat(4, 1fr) !important;
  grid-column-gap: 5px !important;
  grid-row-gap: 8px !important;
  margin-bottom: 1px !important;
  margin-top: 40px !important;
  align-items: center !important;
}
